<%- include("_header") -%>
<div>
    <h2>Customer Update.</h2>
    
</div>
  
<form action="/update"  method="post"> 
  <div class="form-group row col-6">
    <label for="ID5" class="col col-form-label ">ID</label>
    <div class="col-sm-10">
      <input type="number" readonly name="cusId" class="form-control" id="ID5"  value="<%= customer.cusId %>" >
    </div>
  </div>
  <div class="form-group row col-6">
    <label for="fn5" class="col-sm-2 col-form-label" >First Name</label>
    <div class="col-sm-10">
      <input type="text" name="cusFname" class="form-control" id="fn5" value="<%= customer.cusFname %>" required>
    </div>
  </div>
  <div class="form-group row col-6">
      <label for="ln5" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" name="cusLname" class="form-control" id="ln5" value="<%= customer.cusLname %>" required>
      </div>
    </div>
    <div class="form-group row col-6">
      <label for="st5" class="col-sm-2 col-form-label">State</label>
      <div class="col-sm-10">
        <input type="text" name="cusState" class="form-control" id="st5" maxlength="2" value="<%= customer.cusState %>">
      </div>
    </div>
    <div class="form-group row col-6">
      <label for="YT5" class="col-sm-2 col-form-label">Sales YTD</label>
      <div class="col-sm-10">
        <input type="number" name="cusSalesYTD" class="form-control" id="YT5" value="<%= customer.cusSalesYTD %>">
      </div>
    </div>
    <div class="form-group row col-6">
      <label for="py5" class="col-sm-2 col-form-label">Previous Year Sales</label>
      <div class="col-sm-10">
        <input type="number" name="cusSalesPrev" class="form-control" id="py5" value="<%= customer.cusSalesPrev %>">
      </div>
    </div>
  <div class="form-group ">
      <div class="row">
    <div class="col-4">
      
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-warning">Update Customer</button>
    </div>
    </div>
  </div>
</form>
<%- include("_footer") -%>